<%- include('partials/header'); -%>
    <!-- render all notes -->

    <div class="container">
        <h2><%= eachTitle %></h2>
        <% notes.forEach(p => { %>
            <form method="POST" action="/notes/<%= p._id %>?_method=DELETE" class="form">
                <!-- ejs input -->
                <div class="card my-3">
                    <div class="card-body">
                        <a href="/notes/<%= p._id %>"><h5 class="card-title"><%= p.title %></h5></a>
                        <!-- <p class="card-text">Date</p> -->
                        <p class="card-text"><%= p.details %></p>
                        <a href="/notes/<%= p._id %>/edit" class="btn btn-primary">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        
                    </div>
                </div>
            </form>
        <% }) %>   

    </div>

    <%- include('partials/footer'); -%>