<%- include('partials/header'); -%>
    <!-- render all notes -->

    <div class="container">
        <h2><%= eachTitle %></h2>
        <!-- ejs input -->
        <% notes.forEach(p => { %>
        <div class="card my-3">
            <div class="card-body">
                <a href="http://localhost:3000/notes/<%= p._id %>"><h5 class="card-title"><%= p.title %></h5></a>
                <!-- <p class="card-text">Date</p> -->
                <p class="card-text"><%= p.details %></p>
                <a href="http://localhost:3000/notes/<%= p._id %>/edit" class="btn btn-primary">Edit</a>
                <a href="http://localhost:3000/notes/<%= p._id %>" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <% }) %>   

    </div>



    <%- include('partials/footer'); -%>